language: node_js
node_js:
  - 12
script:
    - eslint 'src/**'
    - npm run test:ci
deploy:
  provider: heroku
  api_key:
    secure: ${{ secrets.HEROKU_API_KEY }}
  app: ingaia-property-value-api
  on:
    repo: RogerioSobrinho/inGaia-property-value-api
